@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  height: auto;
  min-height: 100vh;
  align-items: center;
  color: #695CFE;
  font-family: 'Poppins', sans-serif;
}

.title {
  padding: 10px;
  padding-inline: 50px;
  border-radius: 5px;
  background-color: rgb(242, 237, 231);
}

.mintNFT {
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(242, 237, 231);
  border-radius: 5px;
  color: #695CFE;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.listNFT {
  display: flex;
  margin-top: 30px;
}

.nft {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  background-color: rgb(242, 237, 231);
}